body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#id {
    display: inline-block;
    border: 1px solid grey;
}

#outputTextArea {
    margin: 0px;
    width: 530px;
    height: 545px;
}

.error-message {
    color: red;
}

.output-message {
    color: blue;
}